@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* font-family: 'Pacifico', cursive; */

*{
    margin: 0px;
    padding: 0px;
}

.nearbyNavCont{
    /* border: 1px solid black; */
    width: 100%;
    height: 7vh;
    background-color: #f1e4ec;
    /* box-shadow: 3px 3px 5px rgb(216, 215, 215) ; */
    /* border-radius:10px; */

}

.leftNavCont{
    display: flex;
    height: 100%;
    width: 50%;
    /* border: 1px solid black; */
    text-align: left;
    align-items: center;
}

.nearbyImg{
    height: 6vh;
    border-radius: 50%;
    margin: 5px 10px;
}

.title{
    font-family: 'Pacifico', cursive;
    font-weight: 300;
    font-size: 30px;
    padding-bottom: 3px;
}